<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.nowintelligence.template.test" android:versionCode="0" android:versionName="LOCAL_DEBUG" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="MobileTemplate.Droid.Test">
  </application>
</manifest>