<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.nowintelligence.template" android:installLocation="auto" android:versionCode="0" android:versionName="LOCAL_DEBUG">
  <uses-sdk android:minSdkVersion="15" />
  <application android:label="MobileTemplate.Droid" android:icon="@drawable/Icon">
  </application>
</manifest>